/* mobile.css */

.container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    outline: 1px solid red;
    position: relative;
}

header {
    height: 80px;
    background: #333;
}

header nav a {
    color: #fff;
}

/* PC에서는 toggle 없음 */
#toggle {
    display: block;
    background: transparent;
    color: #fff;
    border-style: none;
    font-size: 32px;
    position: absolute;
    left: 20px;
    top: 26px;
}

header .container {
    justify-content: center;
    align-items: center;
    height: 100%;
}

header nav a {
    margin-left: 25px;
    margin-right: 25px;
    font-size: 18px;
}

/* 모바일 네비 */
header nav {
    background: #c4c4c4;
    position: absolute;
    left: 0;
    top: 80px;
    width: 100%;
    /* padding: 20px 0; */
    /* display: none; */
    height: 0;
    opacity: 0;
    overflow: hidden;
    transform: 0.3s;
}

header nav.on {
    /* display: block; */
    height: 140px;
    opacity: 1;
    padding: 20px 0;
}

header nav a {
    display: block;
    color: #333;
    margin-bottom: 10px;
}

#main-visual {
    width: 100%;
    height: 400px;
    background: url(../images/main-visual-m.jpg);
    background-size: cover;
    background-position: center;
}

/* #main-visual img {
    width: 100%;
    height: 100%;
    object-fit: cover;
} */

#main-visual .container {
    height: 100%;
    justify-content: center;
    align-items: center;
    color: #fff;
}

#about .container {
    display: block;
}

#about .about {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 81px;
    padding-left: 20px;
}

#about .location {
    flex: 1;
    padding-top: 50px;
    padding-bottom: 67px;
    padding-left: 20px;
    background: #ddd;
}

#about .container h2 {
    font-size: 24px;
    padding-bottom: 30px;
}

#about .container li {
    font-size: 16px;
    padding-bottom: 15px;
}

#about .container p {
    font-size: 16px;
    padding-bottom: 15px;
}